.cart-wrap {
    padding: 0 80px;
    width: 93.75%;
    margin: 0 auto;
}
.cart-hd img {
    vertical-align: middle;
    width: 24px;
    height: auto;
}
.cart-hd_title {
    text-transform: uppercase;
    font-size: 18px;
    color: #000;
    letter-spacing: 2px;
    margin-left: 20px;
    position: relative;
    top: 4px;
}
.cart-bd {
    margin-top: 60px;
}
.cart-bd .all-check {
    margin-right: 10px;
}
.cart-bd .table > thead > tr > th {
    border-color:#000;
    border-width: 1px;
    font-size: 14px;
    letter-spacing: 2px;
    color: #000;
}
.cart-bd .table > tbody > tr > td {
    letter-spacing: 1px;
    border-top: 0;
    vertical-align: middle;
}
.cart-bd .cart-pro-img {
    width: 100px;
    height: auto;
}
.cart-pro_name {
    font-size: 14px;
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.cart-pro_sku {
    font-size: 12px;
    color: #808080;
    text-decoration: underline;
    letter-spacing: 1px;
}
.cart-pro_price {
    color: #000;
    letter-spacing: 1px;
}
.cart-control a {
    color: #808080;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: underline;
}
.cart-cal {
    position: relative;
    width: 120px;
    margin: 0 auto;
}
.cart-cal img {
    width: 35px;
    height: auto;
}
.cart-minus {
    position: absolute;
    top: 0;
    left: -20px;
}
.cart-plus {
    position: absolute;
    top: 0;
    right: -20px;
}
.cart-cal .cart-pro_num {
    width: 120px;
    height: 35px;
    line-height: 35px;
    background: #000;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.cart-actual_price {
    font-size: 14px;
    color: #000;
}
.cart-origin_price{
    font-size: 14px;
    color: #808080;
}
.cart-coupon_wrap {
    position: relative;
}
.cart-coupon_hd {
    width: 234px;
    position: relative;
}
.cart-coupon_wrap .cart-selected_coupon {
    position: absolute;
    top: 0;
    color: #fff;
    left: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.cart-arrow_down {
    position: absolute;
    top: 50%;
    right: 22px;
    margin-top: -10px;
}
.cart-coupon_bd {
    border: 2px solid #000;
    padding: 25px 40px;
    box-sizing: border-box;
    width: 354px;
}
.cart-coupon_item {
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.cart-coupon_item span {
    margin-left: 10px;
}
.cart-coupon_control {
    margin-top: 20px;
}
.cart-coupon_control .btn-cart_coupon {
    float: left;
    background: #000;
    width: 130px;
    border-radius: 0;
    color: #fff;
    margin-left: 10px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    text-align: center;
}
.cart-coupon_control .btn-cart_coupon:hover {
    background: #000;
    color: #fff;
}
.cart-coupon_control .btn-cart_coupon:first-child {
    margin-left: 0;
}
.cart-disabled .cart-pro_num {
    background: #bfbfbf;
}
.cart-pro_out {
    color: #7d7d7d;
    font-size: 16px;
    margin-top: 10px;
    width: 120px;
    text-align: center;
}
.cart-pro_not {
    color: #7d7d7d;
    font-size: 16px;
    margin-top: 10px;
    width: 170px;
    text-align: center;
    margin-left: -25px;
}
.cart-table_control {
    padding: 20px 0;
    border-top: 1px solid #000;
}
.cart-table_control>div {
    float: left;
}
.cart-table_control .btn {
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0;
    width: 220px;
    text-align: center;
    color: #fff;
    background: #7d7d7d;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 0;
    margin-left: 15px;
}
.cart-table_control .cart-allremove {
    margin-left: 45px;
}
.cart-table_control .btn:hover {
    color: #fff;
    background: #7d7d7d;
}
.cart-allcheck {
    height: 50px;
    line-height: 50px;
    color: #000;
    letter-spacing: 1px;
}
.cart-allcheck input[type=checkbox] {
    margin-top: 0;
    margin-right: 10px;
    vertical-align: middle;
}
.cart-ft {
    margin-top: 60px;
}
.cart-mycoupon_title img {
    vertical-align: middle;
    width: 35px;
    height: auto;
}
.cart-mycoupon_title span{
    text-transform: uppercase;
    font-size: 18px;
    color: #000;
    letter-spacing: 2px;
    margin-left: 20px;
}
.cart-mycoupon_bd {
    margin-top: 40px;
}
.cart-mycoupon_bd ul {
    border-bottom: 1px solid #000;
    margin-bottom: 0;
}
.cart-mycoupon_bd ul li {
    float: left;
    width: 20%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: -1px;
}
.cart-mycoupon_bd .nav-tabs>li>a{
    height: 50px;
    line-height: 50px;
	letter-spacing:5px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    color: #fff;
    border: 0;
    border-right: 1px solid #fff;
}
.cart-mycoupon_bd .nav-tabs>li>a:focus, .cart-mycoupon_bd .nav-tabs>li>a:hover {
    background: #000;
    /* border-color: #000; */
}
.cart-mycoupon_bd .nav-tabs>li.active>a {
    color: #000;
    background: #fff;
    border: 1px solid #000;
    border-left: 0;
    border-bottom: 0;
}
.cart-mycoupon_bd .nav-tabs>li.active>a:hover, .cart-mycoupon_bd .nav-tabs>li.active>a:focus {
    background: #fff;
    border-color: #000;
    border-bottom: 0;
    border-left: 0;
}
.cart-mycoupon_bd .nav-tabs>li.active:first-child>a {
    border-left: 1px solid #000;
}
.cart-mycoupon_ft {
    height: 60px;
    line-height: 60px;
    padding-left: 50px;
    border: 1px solid #000;
    border-top: 0;
    font-size: 18px;
    letter-spacing: 1px;
    color: #000;
}
.cart-mycoupon_ft span {
    font-size: 20px;
    margin-left: 15px;
}
.cart-control_wrap {
    margin-top: 150px;
}
.cart-total_info {
    padding-right: 10px;
}
.cart-total_info ul {
    margin-bottom: 0;
    text-align: right;
}
.cart-total_info li {
    margin-bottom: 10px;
}
.cart-total_info li >div {
    display: inline-block;
    color: #808080;
    font-size: 14px;
    letter-spacing: 4px;
}
.cart-total_num {
    margin-right: 80px;
}
.cart-total_num span {
    color: #000;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 25px;
    font-weight: bold;
}
.cart-info_text {
    width: 180px;
    text-align: left;
	letter-spacing:4px;
}
.cart-total_info li .cart-info_money {
    min-width: 200px;
    color: #000;
    text-align: right;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
}
.cart-total_info li .cart-total {
    font-size: 22px;
}
.cart-next {
    text-align: right;
    margin-top: 30px;
}
.cart-next .btn {
    float: right;
    border-radius: 0;
    color: #fff;
    background-image: url('../images/update_cart.png');
    background-repeat: no-repeat;
    height: 50px;
    line-height: 50px;
    width: 288px;
    text-align: center;
    padding: 0;
    font-size: 15px;
    letter-spacing: 2px;
}
.cart-next .btn:hover,.cart-next .btn:focus, .cart-next .btn:active {
    color: #fff;
    outline: none;
    outline-offset: 0;
    box-shadow: none;
}
.cart-next .btn.checkout {
    margin-left: 18px;
}
.cart-promotion_wrap {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 40px 45px;
}
.cart-mycoupon_item {
    float: left;
    width: 337px;
    height: 160px;
    background-image: url('../images/coupon-back.png');
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 6px;
    position: relative;
    margin-bottom: 5px;
}
.cart-mycoupon_price {
    font-size: 54px;
    height: 55px;
    line-height: 55px;
}
.cart-mycoupon_price span {
    font-size: 24px;
    margin-right: 15px;
}
.cart-mycoupon_price strong {
    font-size: 36px;
    font-style: normal;
}
.cart-mycoupon_limit {
    font-size: 16px;
    letter-spacing: 2px;
}
.cart-mycoupon_date {
    font-size: 16px;
    letter-spacing: 1px;
}
.mycoupon-status {
    position: absolute;
    top: 0;
    left: 0;
    color: #af936e;
    font-size: 12px;
    width: 32px;
    line-height: 16px;
}
.last-coupon {
    background-image: url('../images/coupon-back1.png');
}
.unused-coupon {
    background-image: url('../images/coupon-back2.png');
}
.normal-coupon {
    background-image: url('../images/coupon-back3.png');
}
.last-coupon .mycoupon-status {
    color: #120a8f;
    font-size: 12px;
    width: 35px;
    text-align: left;
    left: 8px;
}
.mycoupon-status em {
    display: block;
    font-style: normal;
    font-size: 24px;
}
.mycoupon-status small {
    font-size: 10px;
}
.mycoupon-tips {
    margin-top: 16px;
}
.mycoupon-tips>div {
    float: left;
    height: 50px;
    line-height: 50px;
}
.mycoupon-check {
    margin-left: 88px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #000;
    text-transform: uppercase;
}
.mycoupon-check input[type=checkbox] {
    margin: 0;
    margin-right: 10px;
    vertical-align: middle;
}
.mycoupon-tips_more {
    margin-left: 55px;
}
.mycoupon-tips_more img {
    vertical-align: middle;
    margin-right: 20px;
}
.mycoupon-tips_more a {
    color: #808080;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: underline;
    text-transform: uppercase;
}
.mycoupon-confirm_wrap {
    margin-left: 65px;
}
.mycoupon-confirm_wrap .btn {
    border-radius: 0;
    width: 170px;
    height: 50px;
    line-height: 50px;
    background: #000;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.mycoupon-confirm_wrap .btn:hover {
    color: #fff;
    background: #000;
}
/* mobile */
.mobile-main {
    margin-top: 130px;
}
.mobile-breadcrumb {
    text-align: center;
    font-size: 19px;
    color: #000;
    letter-spacing: 4px;
    padding: 60px 0;
    border-bottom: 1px solid #000;
}
.mobile-page-title {
    color: #000;
    text-align: center;
    font-size: 44px;
    letter-spacing: 2px;
    padding: 60px 0;
}
.mcart-item {
    padding: 60px 15px;
    border-top: 1px solid #808080;
}
.mcart-item-img {
    float: left;
    width: 40%;
}
.mcart-item-img img {
    max-width: 100%;
    height: auto;
}
.mcart-item-info {
    float: left;
    width: 60%;
}
.mcart-pro-name {
    color: #000;
    font-size: 30px;
    letter-spacing: 4px;
}
.mcart-pro-sku {
    font-size: 30px;
    color: #808080;
    letter-spacing: 4px;
}
.mcart-pro-price span {
    float: left;
    height: 50px;
    line-height: 50px;
    color: #000;
    font-size: 30px;
}
.mcart-pro-price .mcart-num {
    float: right;
    color: #000;
    border: 1px solid #808080;
    height: 50px;
    border-radius: 0;
    width: 20%;
    font-size: 24px;
}
.mcart-single-price {
    font-style: normal;
}
.mcoupon-choose {
    padding: 20px 15px;
}
.mcoupon-content {
    border: 1px solid #808080;
    padding: 0 15px;
}
.mcoupon-list {
    padding: 20px;
    border-bottom: 1px solid #808080;
}
.mcoupon-list .pull-left {
    font-size: 24px;
    color: #000;
    letter-spacing: 4px;
}
.mcoupon-code {
    padding: 20px;
}
.mcoupon-code .pull-left {
    font-size: 24px;
    color: #000;
    letter-spacing: 4px;
}
.mcart-total {
    padding: 80px 15px 100px 15px;
}
.mcart-total>div {
    padding: 0 15px;
}
.mcart-total-item {
    height: 40px;
    line-height: 40px;
}
.mcart-total-title{
    font-size: 24px;
    color: #000000;
    letter-spacing: 4px;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
}
.mcart-tm-title {
    float: left;
    font-size: 24px;
    color: #808080;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.mcart-tm-price {
    float: right;
    font-size: 24px;
    color: #808080;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.mcart-total .mcart-total-ft {
    border-top: 1px solid #808080;
    margin-top: 20px;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 30px 15px;
}
.mcart-control {
    margin: 130px 0;
    padding: 0 30px;
}
.mcart-control .btn {
    color: #fff;
    background: #000;
    font-size: 24px;
    letter-spacing: 4px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 0;
    display: block;
    width: 100%;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
.button-or img {
    max-width: 100%;
    height: auto;
    margin: 35px 0;
}
.mselected-coupon-list {
    padding: 20px 0;
}
.mselected-coupon-item {
    width: 100%;
    height: 110px;
    background-image: url('../images_m/mcoupon-back.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    margin-top: 1px;
}
.mselected-coupon-item:first-child {
    margin-top: 0;
}
.mselected-coupon-hd {
    float: left;
    font-size: 36px;
    height: 100%;
    line-height: 110px;
    width: 30%;
    text-align: center;
}
.mselected-coupon-bd {
    float: left;
    font-size: 18px;
    letter-spacing: 2px;
    height: 110px;
}
.mselected-coupon-bd .mselected-coupon-fit {
    padding-top: 25px;
}
.mselected-coupon-ft {
    float: right;
    padding-right: 5%;
    line-height: 110px;
}
.table{
	margin:0px;
}