.order-wrap {
  padding: 0 80px;
  width: 93.75%;
  margin: 0 auto;
}
.osubmit-item_title .pull-left img {
  vertical-align: top;
  width: 29px;
  height: auto;
}
.osubmit-item_title .pull-left span {
  text-transform: uppercase;
  font-size: 18px;
  color: #000;
  letter-spacing: 5px;
  margin-left: 15px;
}
.osubmit-item_title .btn {
  border-radius: 0;
  width: 300px;
  letter-spacing: 2px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #000;
  padding: 0;
  font-size: 14px;
  text-align: center;
  border: 0;
  position: relative;
  margin-right: 25px;
}
.osubmit-item_title .btn img {
  position: absolute;
  right: -20px;
  top: 0;
  width: 40px;
  height: auto;
}
.osubmit-item_title .btn:hover {
  color: #fff;
  background-color: #000;
}
.osubmit-item_bd {
  margin-top: 30px;
}
.osubmit-item_bd .addr-type li {
  float: left;
  padding: 0;
  width: 33.33333333%;
  padding-left: 25px;
  margin-bottom: 10px;
}
.osubmit-item_bd .addr-type li:nth-child(3n+1) {
  padding-left: 0;
}
.osubmit-item_bd .address-item.active {
  color: #fff;
  background-color: #000;
}
.addr-type {
  margin-top: 20px;
}
.osubmit-item_bd  ul.nav-tabs {
  border-bottom: 1px solid #000;
  margin-bottom: 0;
}
.osubmit-item_bd  ul.nav-tabs li {
  float: left;
  width: 20%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: -1px;
}
.osubmit-item_bd .nav-tabs>li>a{
  height: 50px;
  line-height: 50px;
  padding: 0;
  margin: 0;
  border-radius: 0;
  color: #fff;
  letter-spacing:6px;
}
.osubmit-item_bd .nav-tabs>li>a:focus, .osubmit-item_bd .nav-tabs>li>a:hover {
  background: #000;
  border-color: #000;
}
.osubmit-item_bd .nav-tabs>li.active>a {
  color: #000;
  background: #fff;
  border: 1px solid #000;
  border-bottom: 0;
}
.osubmit-item_bd .nav-tabs>li.active>a:hover, .osubmit-item_bd .nav-tabs>li.active>a:focus {
  background: #fff;
  border-color: #000;
  border-bottom: 0;
}
.osubmit-item_bd.nav-tabs>li.active:first-child>a {
  border-left: 1px solid #000;
}
.address-item {
  width: 100%;
  border: 1px solid #000;
  padding: 30px 0 45px 35px;
  letter-spacing: 2px;
  color: #000;
  border-bottom-right-radius: 18px;
  text-transform: uppercase;
  position: relative;
}
.address-item .checked-addr {
  display: none;
}
.address-item.active .checked-addr {
  display: block;
  position: absolute;
  bottom: -2px;
  right: -2px;
}
.address-item_index {
  font-size: 12px;
  margin-bottom: 35px;
}
.address-item_info {
  font-size: 14px;
}
.address-item_phone span {
  margin-right: 20px;
}
.addr-stTel span {
  margin-right: 20px;
}

.address-item_detail {
  font-size: 14px;
  margin-top: 40px;
}
.more-address {
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  color: #808080;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 15px 0;
  cursor: pointer;
  position: relative;
}
.more-address img {
  position: absolute;
  left: 50%;
  margin-left: -18px;
  bottom: -18px;
}
.more-address img.active {
  transform: rotate(180deg);
  bottom: 0;
}
.osubmit-payment {
  margin-top: 110px;
}
.osubmit-item_title .pull-left .payment-tips {
  font-size: 12px;
  margin-left: 50px;
  color: #808080;
  text-transform: uppercase;
}
.osubmit-item_title .payment-tips em {
  font-style: normal;
  text-decoration: underline;
  margin-left: 20px;
}
.payment-list {
  border: 1px solid #000;
}
.payment-item {
  float: left;
  width: 25%;
  text-align: center;
  height: 100px;
  line-height: 100px;
  position: relative;
}
.payment-item.bank-card  .more-bank {
  position: absolute;
  bottom: 0;
  left: 50%;
  line-height: initial;
  margin-left: -23px;
  bottom: -16px;
}
.payment-item  label img {
  margin-left: 30px;
}
.payment-button{
	width: 25%;
    text-align: center;
    background: #000;
    color: #fff;
    height: 50px;
	float:right;
    line-height: 40px;
    padding: 0;
    border-radius: 0;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
	margin-top:20px;
}
.payment-button:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 25px solid #af936e;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.bank-list {
  border: 1px solid #000;
  border-top: 0;
}
.bank-item {
  float: left;
  width: 25%;
  text-align: center;
  height: 108px;
  line-height: 108px;
}
.bank-item img {
  max-width: 100%;
  height: auto;
}
.shopping-list {
  margin-top: 115px;
}
.order-info {
  font-size: 14px;
  color: #000;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.order-info .order-date {
  margin-left: 55px;
}
.paid-product {
  color: #000;
  font-size: 14px;
  letter-spacing: 2px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.paid-product img {
  width: 100px;
  height: auto;
}
.paid-pro_sku {
  color: #808080;
  font-size: 12px;
  text-decoration: underline;
}
.paid-origin_price {
  color: #808080;
  font-size: 12px;
  text-decoration: line-through;
}
.discount-info {
  color: #808080;
  font-size: 12px;
}
.paid-product.table>tbody>tr>td {
  border: 0;
  vertical-align: middle;
}
.invoice-list {
  margin-top: 135px;
}
.invoice-hd {
  height: 100px;
  line-height: 100px;
  padding-left: 40px;
  border: 1px solid #000;
  color: #000;
  letter-spacing: 2px;
}
.invoice-hd_item {
  float: left;
}
.invoice-hd_item .need-invoice {
  font-size: 14px;
  margin-left: 40px;
  margin-right: 30px;
  color: #000;
}
.invoice-hd_item .invoice-tips {
  text-decoration: underline;
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 12px;
  color: #808080;
}
.invoice-bd {
  margin-top: 20px;
  width: 100%;
}
.invoice-list .invoice-bd li {
  float: left;
  width: 49%;
  margin-right: 2%;
  margin-bottom: 10px;
}
.invoice-list .invoice-bd li:nth-child(2n+2) {
  margin-right: 0;
}
.invoice-item {
  border: 1px solid #000;
  border-bottom-right-radius: 18px;
  color: #000;
  background: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 360px;
  padding-top: 30px;
  padding-left: 20px;
  position: relative;
}
.invoice-index {
  font-size: 12px;
}
.invoice-bank, .invoice-bank_con {
  margin-top: 40px;
}
.invoice-bd_title {
  font-size: 14px;
}
.invoice-bd_info {
  font-size: 14px;
  width: auto;
  margin-left: 30px;
  text-transform: initial;
}
.invoice-addr span {
  display: block;
}
.invoice-item.selected {
  background-color: #000;
  color: #fff;
}
.invoice-item .checked-invoice {
  position: absolute;
  right: -2px;
  bottom: -2px;
  display: none;
}
.invoice-item.selected .checked-invoice {
  display: block;
}
.used-coupon {
  margin-top: 100px;
}
.used-coupon_list {
  padding: 15px 0;
  border-top: 1px solid #000;
}
.used-coupon_item {
  float: left;
  width: 337px;
  height: 160px;
  background-image: url('../images/coupon-back3.png');
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  padding-top: 24px;
  padding-bottom: 6px;
  position: relative;
}
.used-coupon_price {
  font-size: 72px;
  height: 55px;
  line-height: 55px;
}
.used-coupon_price span:first-child {
  font-size: 24px;
  margin-right: 15px;
}
.used-coupon_price span:last-child{
  font-size: 40px;
  letter-spacing:2px;
  margin-right: 15px;
}
.used-coupon_price strong {
  font-size: 36px;
  font-style: normal;
}
.used-coupon_limit {
  font-size: 21px;
  letter-spacing: 2px;
}
.used-coupon_date {
  font-size: 16px;
  letter-spacing: 1px;
}
.used-coupon_total {
  height: 60px;
  line-height: 60px;
  border: 1px solid #000;
  padding-left: 50px;
  color: #000;
  letter-spacing: 2px;
  font-size: 18px;
  text-transform: uppercase;
}
.used-coupon_total span {
  font-size: 24px;
  margin-left: 20px;
}
.cart-control_wrap {
  margin-top: 115px;
}
.cart-total_info {
  padding-right: 10px;
}
.cart-total_info ul {
  margin-bottom: 0;
  text-align: right;
}
.cart-total_info li {
  margin-bottom: 10px;
}
.cart-total_info li >div {
  display: inline-block;
  color: #808080;
  font-size: 14px;
  text-transform: uppercase;
}
.cart-total_num {
  margin-right: 80px;
  font-weight: bold;
}
.cart-total_num span {
  color: #000;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 25px;
}
.cart-info_text {
  width: 180px;
  text-align: left;
  letter-spacing:4px;
}
.cart-total_info li .cart-info_money {
  min-width: 200px;
  color: #000;
  text-align: right;
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: bold;
}
.cart-total_info li .cart-total {
  font-size: 23px;
}
.cart-next {
  text-align: right;
  margin-top: 30px;
}
.cart-next .btn {
  float: right;
  border-radius: 0;
  color: #fff;
  background-image: url('../images/check_order_detail.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 40px;
  line-height: 40px;
  width: 420px;
  text-align: center;
  padding: 0;
  font-size: 15px;
  letter-spacing: 2px;
  border: 0;
  text-transform: uppercase;
}
.cart-next .btn:hover {
  color: #fff;
}
.submit-payment_hd >div {
  float: left;
  border: 1px solid #000;
  height: 220px;
}
.submit-payment_info {
  width: 68%;
  margin-right: 2%;
  padding: 35px 0;
  padding-left: 5%;
  color: #fff;
  background: #000;
}
.payment-info_title {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
}
.payment-info_no {
  text-transform: uppercase;
  font-size: 14px;
  color: #808080;
  letter-spacing: 2px;
}
.payment-info_time {
  font-size: 14px;
  letter-spacing: 1px;
}
.payment-info_time span {
  color: #ff0012;
  text-decoration: underline;
}
.submit-payment_total {
  width: 30%;
  padding: 3%;
}
.submit-payment_total .pull-left p {
  font-size: 14px;
  color: #808080;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 32px;
}
.cart-sub_money {
  text-decoration: line-through;
}
.submit-payment_total .pull-right p {
  font-size: 18px;
  color: #000;
  letter-spacing: 2px;
  line-height: 32px;
}
.qrcode-bd {
  width: 68%;
  text-align: right;
  padding-top: 50px;
}
.qrcode-bd>div {
  float: right;
  text-align: center;
}
.qrcode-img p {
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 10px;
  text-transform: uppercase;
}
.other-payment {
  margin-top: 70px;
}
.payment-confirm_hd {
  color: #fff;
  background: #000;
  text-align: center;
  height: 220px;
  padding-top: 70px;
  font-size: 23px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.payment-confirm_bd {
  border: 1px solid #000;
  border-top: 0;
  padding-top: 50px;
  padding-bottom: 40px;
}
.payment-orderno {
  text-align: center;
  font-size: 18px;
  color: #000;
  letter-spacing: 2px;
}
.payment-orderno p {
  text-transform: uppercase;
}
.payment-info_list>div {
  float: left;
  width: 50%;
  padding-left: 75px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 55px;
}
.payment-left:after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #000;
  right: 0;
  height: 100%;
}
.payment-info_title p {
  line-height: 32px;
}
.payment-info_content p {
  line-height: 32px;
  text-transform: uppercase;
}
.payment-left .payment-info_title {
  float: left;
  color: #808080;
  font-size: 14px;
  letter-spacing: 2px;
}
.payment-left .payment-info_content {
  float: right;
  font-size: 24px;
  color: #000;
  letter-spacing: 2px;
  padding-right: 60px;
}
.payment-right .payment-info_title {
  float: left;
  color: #808080;
  font-size: 14px;
  letter-spacing: 2px;
}
.payment-right .payment-info_content {
  float: right;
  font-size: 18px;
  color: #000;
  letter-spacing: 2px;
  padding-right: 60px;
}
.payment-right .payment-info_content span {
  display: block;
}
.payment-info_list {
  margin-top: 45px;
}
.check-order_detail.cart-next {
  margin-top: 0;
}
.check-order_detail .btn {
  text-transform: uppercase;
}
/* address modal */
.addr-modal .modal-header {
  border-bottom: 0;
}
.addr-modal .modal-footer {
  border-top: 0;
}
.addr-modal .modal-title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
}
.addr-modal .control-label {
  font-size: 15px;
  color: #000;
  letter-spacing: 2px;
}
.addr-modal .form-control {
  border: 1px solid #000;
  border-radius: 0;
}
.addr-modal .addr-email-tips {
  color: #808080;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.addr-modal .tel-prefix {
  font-size: 14px;
  color: #808080;
  letter-spacing: 2px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
.addr-modal .tel-split {
  float: left;
  display: inline-block;
  color: #000;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 14px;
}
.addr-modal .addr-home, .addr-modal .addr-office {
  height: 34px;
  line-height: 34px;
  color: #000;
  font-size: 14px;
  text-align: center;
  border: 1px solid #000;
  width: 100%;
}
.addr-modal .modal-footer {
  text-align: left;
  padding-bottom: 40px;
}
.addr-modal .modal-footer .btn {
  width: 100%;
  font-size: 14px;
  letter-spacing: 2px;
  color: #fff;
  background: #000;
  border-radius: 0;
  border: 0;
  text-align: center;
  padding: 0;
  height: 40px;
  line-height: 40px;
  position: relative;
}
.addr-modal .modal-footer .btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 20px solid #af936e;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.invoice-modal .modal-header {
  border-bottom: 0;
}
.invoice-modal  .modal-footer {
  border-top: 0;
}
.invoice-modal  .modal-title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
}
.invoice-modal  .control-label {
  font-size: 15px;
  color: #000;
  letter-spacing: 2px;
}
.invoice-modal .form-control {
  border: 1px solid #000;
  border-radius: 0;
}
.invoice-modal .invoice-type {
  height: 68px;
  line-height: 68px;
  background: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
  border: 1px solid #000;
  border-bottom-right-radius: 18px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.invoice-modal .invoice-type.active {
  background: #000;
  color: #fff;
}
.invoice-modal .invoice-type-check {
  display: none;
  position: absolute;
  bottom: -2px;
  right: -2px;
  line-height: initial;
}
.invoice-modal .invoice-type.active .invoice-type-check {
  display: inline-block;
}
.invoice-modal .modal-footer {
  text-align: left;
  padding-bottom: 40px;
}
.invoice-modal .modal-footer .btn {
  width: 100%;
  font-size: 14px;
  letter-spacing: 2px;
  color: #fff;
  background: #000;
  border-radius: 0;
  border: 0;
  text-align: center;
  padding: 0;
  height: 40px;
  line-height: 40px;
  position: relative;
}
.invoice-modal .modal-footer .btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 20px solid #af936e;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.invoice-modal .invoice-content-type {
  color: #000;
  height: 40px;
  line-height: 40px;
  border: 1px solid #000;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.invoice-modal .invoice-content-type.active {
  background: #000;
  color: #fff;
}
.addr-modal .addr-home.active, .addr-modal .addr-office.active {
  background: #000;
  color: #fff;
}
.link-form .control-label {
  font-size: 15px;
  color: #000;
  letter-spacing: 2px;
}
.link-form .form-control {
  border: 1px solid #000;
  border-radius: 0;
}
.link-form .addr-email-tips {
  color: #808080;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.link-form .tel-prefix {
  font-size: 14px;
  color: #808080;
  letter-spacing: 2px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border: 1px solid #000;
}
.link-form .tel-split {
  float: left;
  display: inline-block;
  color: #000;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 14px;
}
.link-form .addr-home, .link-form .addr-office {
  height: 34px;
  line-height: 34px;
  color: #000;
  font-size: 14px;
  text-align: center;
  border: 1px solid #000;
  width: 100%;
}
.link-form .btn {
  width: 100%;
  font-size: 14px;
  letter-spacing: 2px;
  color: #fff;
  background: #000;
  border-radius: 0;
  border: 0;
  text-align: center;
  padding: 0;
  height: 40px;
  line-height: 40px;
  position: relative;
}
.link-form .btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 20px solid #af936e;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.link-form .addr-home.active, .link-form .addr-office.active {
  background: #000;
  color: #fff;
}
/* mobile */
.mobile-main {
  margin-top: 130px;
}
.mobile-breadcrumb {
  text-align: center;
  font-size: 19px;
  color: #000;
  letter-spacing: 4px;
  padding: 60px 0;
  border-bottom: 1px solid #000;
}
.morder-step-item {
  border-bottom: 1px solid #808080;
}
.morder-si-title {
  font-size: 22px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 50px 30px;
}
.morder-cart-item {
  padding: 10px 15px;
  box-sizing: border-box;
}
.morder-cart-img {
  float: left;
  width: 30%;
}
.morder-cart-img img {
  max-width: 100%;
  height: auto;
}
.morder-cart-info {
  float: left;
  width: 70%;
  font-size: 22px;
  color: #000;
  letter-spacing: 2px;
}
.morder-pro-sku {
  color: #808080;
}
.morder-pro-num {
  margin-left: 20px;
}
.morder-pro-price em {
  font-style: normal;
}
.mcart-total {
  padding: 80px 15px 100px 15px;
}
.mcart-total>div {
  padding: 0 15px;
}
.mcart-total-item {
  height: 40px;
  line-height: 40px;
}
.mcart-total-title{
  font-size: 24px;
  color: #000000;
  letter-spacing: 4px;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
}
.mcart-tm-title {
  float: left;
  font-size: 24px;
  color: #808080;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.mcart-tm-price {
  float: right;
  font-size: 24px;
  color: #808080;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.mcart-total .mcart-total-ft {
  border-top: 1px solid #808080;
  margin-top: 20px;
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 30px 15px;
}
.mcart-control {
  margin: 130px 0;
  padding: 0 30px;
}
.mcart-control .btn {
  color: #fff;
  background: #000;
  font-size: 24px;
  letter-spacing: 4px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 0;
  display: block;
  width: 100%;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
.button-or img {
  max-width: 100%;
  height: auto;
  margin: 35px 0;
}
.morder-si-bd {
  padding: 15px;
}
.morder-pay-list {
  border: 1px solid #808080;
}
.morder-pay-item {
  padding: 30px 0 30px 45px;
  border-bottom: 1px solid #808080;
}
.morder-pay-item:last-child {
  border-bottom: 0;
}
.morder-pay-img {
  float: left;
}
.morder-pay-info {
  float: left;
  font-size: 29px;
  letter-spacing: 4px;
  padding-left: 40px;
}
.morder-couponlist {
  border: 1px solid #808080;
  padding: 30px 15px;
}
.mselected-coupon-item {
  width: 100%;
  height: 110px;
  background-image: url('../images_m/mcoupon-black.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  margin-top: 1px;
}
.mselected-coupon-item:first-child {
  margin-top: 0;
}
.mselected-coupon-hd {
  float: left;
  font-size: 36px;
  height: 100%;
  line-height: 110px;
  width: 30%;
  text-align: center;
}
.mselected-coupon-bd {
  float: left;
  font-size: 18px;
  letter-spacing: 2px;
  height: 110px;
}
.mselected-coupon-bd .mselected-coupon-fit {
  padding-top: 25px;
}